.btn{
  border: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  padding: 9px 14px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  transition: 0.3s;

  &--red{
    border: 0.864px solid #D66567;
    background: #BC4749;
  }

  &--green{
    border: 0.864px solid #D0D0D0;
    background: #6A994E;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.10);
  }

  @media screen and (min-width: 1024px) {
    &:hover{
      transform: translate(0, -2px);
    }

    &:active{
      transform: translate(0, -1px);
    }
  }
}

