.page__body {
  padding: 100px 0;
}

.site-container{
  position: relative;
  max-width: 1300px;
  margin: 0px auto;
  border-radius: 12px;
  background: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);
  box-shadow: 0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.10), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
}

.main {
  padding-bottom: 100px;
  position: relative;

  &__fon{
    position: absolute;
    width: 336px;
    height: 318px;
    &--left{
      left: 0px;
      top: -50px;
      background: url(../img/fon-left.svg) 0 / 100% no-repeat;
    }

    &--right{
      right: 0px;
      top: -60px;
      background: url(../img/fon-right.svg) 0 / 100% no-repeat;
    }

    @include max768 {
      display: none;
    }
  }


  @include max768 {
    margin-bottom: 40px;
  }

  &__inner {
    max-width: 970px;
    margin: 0 auto;
  }

  &__title {
    font-size: 41px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 70px;
    text-align: center;

    @include max768 {
      margin-bottom: 30px;
      font-size: 26px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    @include max768 {
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__card {
    position: relative;
    z-index: 2;
    width: 33.33333%;
    min-width: 250px;
    opacity: 0;
    visibility: hidden;
  }

  .showCards .main__card{
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition: 0.8s #{$i * 300}ms;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}





