<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" alt="logo">
        <span>Test Task</span>
      </div>
      <nav class="header__nav">
        <ul class="header__list header__list--pc">
          <li class="header__item">
            <a href="#" class="header__link">About Us</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Features</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link active">Pricing</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Product</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="header__personal personal-nav">
        <ul class="personal-nav__items">
          <li class="personal-nav__item"><button class="personal-nav__btn btn-reset">Login</button></li>
          <li class="personal-nav__item"><button class="personal-nav__btn btn btn--red">Sign Up</button></li>
        </ul>
      </div>

      <div class="header__mobile">
        <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger></button>

        <nav class="header__nav--mobile" data-menu>
          <ul class="header__list header__list--mobile">
            <li class="header__item">
              <a href="#" class="header__link">About Us</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Features</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link ">Pricing</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Product</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>


  </div>
</header>

<!--End Header -->
